html, body {
	font-size: 10px;
	margin-bottom: 3rem;
	font-family: Nunito;
	font-weight: 300;
	font-style: normal;
	letter-spacing: 0em;
}

h1,h2,h3 {
	margin-bottom: 3rem;
	font-family: Nunito;
	font-size: 2.8em;
	line-height: 6rem;
	font-weight: 300;
	font-style: normal;
	letter-spacing: 0em;
	text-align: center;
}

h4 {
	margin-bottom: 3rem;
	font-family: Nunito;
	font-size: 3.125em;
	line-height: 6rem;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0em;
}

h5 {
	margin-bottom: 3rem;
	font-family: Nunito;
	font-size: 2.5em;
	line-height: 3rem;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0em;
}

h6 {
	margin-bottom: 3rem;
	font-family: Nunito;
	font-size: 2em;
	line-height: 3rem;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0em;
}

p {
	margin-bottom: 3rem;
	font-family: Nunito;
	font-size: 1.6em;
	line-height: 3rem;
	font-weight: 300;
	font-style: normal;
	letter-spacing: 0em;
	width: 100%;
}

header p {
	margin-bottom: 3rem;
	font-family: Nunito;
	font-size: 1.4em;
	line-height: 3rem;
	font-weight: 300;
	font-style: normal;
	letter-spacing: 0em;
	text-decoration: none;
	color: black;
}

a {
	margin-bottom: 3rem;
	font-family: Nunito;
	line-height: 3rem;
	font-weight: 300;
	font-style: normal;
	letter-spacing: 0em;
	text-decoration: none;
	color: black;
}

a h1, a h2, a h3 {
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

.active a {
	font-weight: 700;
}

nav li a {
    line-height: 1;
}

nav li p {
    margin: 0;
    line-height: 1.4;
}

.inside p {
	margin-top: 0px;
}

@media screen and (max-width: 720px) {
}