{% extends "admin.html.twig" %}

{% block section %}
	{% for bloc in sectionActive.blocks %}
		<div class="modal micromodal-slide" id="modal-block-{{bloc.id}}" aria-hidden="true">
			<div class="modal__overlay" tabindex="-1" data-micromodal-close>
				<div class="large modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
					<div class="modal__header">
						<h2 class="modal__title">
							Nouveau bloc
						</h2>
						<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
					</div>
					<form action="{{ path_for('api_post') }}" method="POST" id="block-{{bloc.id}}">
						<input type="hidden" name="objectClass" value="block">
						<input type="hidden" name="id" value="{{bloc.id}}">
						<input type="hidden" name="section_id" value="{{sectionActive.id}}">
						<input type="hidden" name="redirect" value="{{ path_for('admin_section', {'section': sectionActive.id}) }}">
						<main class="modal__content">
							<label>Type de bloc<br/>
								<select name="type" class="bloc-type-select" data-block-id="{{bloc.id}}" onchange="changeBlocTypeEventHandler(event);">
									<option value="image"{% if bloc.type == 'image'%} selected{%endif%}>Image</option>
									<option value="title"{% if bloc.type == 'title'%} selected{%endif%}>Titre</option>
									<option value="linkTitle"{% if bloc.type == 'linkTitle'%} selected{%endif%}>Titre lien</option>
									<option value="texte"{% if bloc.type == 'texte'%} selected{%endif%}>Texte</option>
								</select>
							</label>
							<hr/><br/>
							<div data-bloc-type="image" class="data-bloc{% if bloc.type == 'image'%} selected{%endif%}">
								<input type="text" name="image" value="{{bloc.image}}"><br/><br/>
								<div class="upload_widget_opener" data-form-id="{{bloc.id}}">Opener</div>
							</div>
							<div data-bloc-type="title" class="data-bloc{% if bloc.type == 'title'%} selected{%endif%}">
								<label>Titre<br/>
									<input type="text" name="title" placeholder="Titre" value="{{bloc.title}}"/></label><br/><br/>
								</div>
								<div data-bloc-type="linkTitle" class="data-bloc{% if bloc.type == 'linkTitle'%} selected{%endif%}">
									<label>Titre<br/>
										<input type="text" name="link_title" placeholder="Titre" value="{{bloc.link_title}}"></label><br/><br/>
										<label>Lien<br/>
											<input type="text" name="link" placeholder="Lien" value="{{bloc.link}}"></label><br/><br/>
											<label><input type="radio" name="external" value="0"{% if bloc.external == 0 %} checked{%endif%}> Lien Interne</label> <br/>
											<label><input type="radio" name="external" value="1"{% if bloc.external%} checked{%endif%}> Lien Externe</label>
											<br/><br/>
										</div>
										<div data-bloc-type="texte" class="data-bloc{% if bloc.type == 'texte'%} selected{%endif%}">
											<textarea type="text" class="froala" name="content" placeholder="Titre">{{bloc.content}}</textarea><br/><br/>
										</div>
									</main>
									<footer class="modal__footer">
										<button type="submit" class="modal__btn modal__btn-primary">Enregistrer</button>
										<button type="submit" name="action" value="delete" style="float:right;" class="modal__btn modal__btn-danger">Supprimer</button>
									</footer>
								</form>
							</div>
						</div>
					</div>
				{% endfor %}

				<div class="modal micromodal-slide" id="modal-block-new" aria-hidden="true">
					<div class="modal__overlay" tabindex="-1" data-micromodal-close>
						<div class="large modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
							<div class="modal__header">
								<h2 class="modal__title">
									Nouveau bloc
								</h2>
								<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
							</div>
							<form action="{{ path_for('api_post') }}" method="POST" id="block-new">
								<input type="hidden" name="objectClass" value="block">
								<input type="hidden" name="id" value="new">
								<input type="hidden" name="section_id" value="{{sectionActive.id}}">
								<input type="hidden" name="redirect" value="{{ path_for('admin_section', {'section': sectionActive.id}) }}">
								<main class="modal__content">
									<label>Type de bloc<br/>
										<select name="type" class="bloc-type-select" data-block-id="new" onchange="changeBlocTypeEventHandler(event);">
											<option value="image" selected>Image</option>
											<option value="title">Titre</option>
											<option value="linkTitle">Titre lien</option>
											<option value="texte">Texte</option>
										</select>
									</label>
									<hr/><br/>
									<div data-bloc-type="image" class="data-bloc selected">
										<input type="text" name="image" value=""><br/><br/>
										<div class="upload_widget_opener" data-form-id="new">Opener</div>
									</div>
									<div data-bloc-type="title" class="data-bloc">
										<label>Titre<br/>
											<input type="text" name="title" placeholder="Titre"></label><br/><br/>
										</div>
										<div data-bloc-type="linkTitle" class="data-bloc">
											<label>Titre<br/>
												<input type="text" name="link_title" placeholder="Titre"></label><br/><br/>
												<label>Lien<br/>
													<input type="text" name="link" placeholder="Lien"></label><br/><br/>
													<label><input type="radio" name="external" value="0" checked> Lien Interne</label> <br/>
													<label><input type="radio" name="external" value="1"> Lien Externe</label>
													<br/><br/>
												</div>
												<div data-bloc-type="texte" class="data-bloc">
													<textarea type="text" class="froala" name="content" placeholder="Titre"></textarea><br/><br/>
												</div>
											</main>
											<footer class="modal__footer">
												<button type="submit" class="modal__btn modal__btn-primary">Enregistrer</button>
												<button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Annuler</button>
											</footer>
										</form>
									</div>
								</div>
							</div>
							<section class="main sortable" data-object-class="block">
								{% if sectionActive %}
									{% if pageActive %}
										<p>
											<a href="{{ path_for('admin_page', {'page': pageActive.slug}) }}{% if sectionActive.slug %}#{{ sectionActive.slug }}{% endif %}"><- Retourner à l'édition de la page</a>
										</p>
									{% endif %}

									{% for bloc in sectionActive.blocks %}
										<article data-id="{{bloc.id}}">
											<div class="meta">
												<a href="#" onclick="MicroModal.show('modal-block-{{bloc.id}}'); return false;"><i class="fa fa-edit"></i> Modifier bloc</a>
											</div>
											<div class="content">

												{% if bloc.type == 'image' %}
													<div class="wrapper image active">
														<img src="{{bloc.image}}"/>
													</div>
												{% elseif bloc.type == 'title' %}
													<div class="wrapper title active">
														<h3>{{bloc.title}}</h3>
													</div>
												{% elseif bloc.type == 'linkTitle' %}
													<div class="wrapper linkTitle active">
														<a target="{% if bloc.external > 0 %}_blank{% else %}_self{% endif %}" href="{{bloc.link}}"><h3>{{bloc.link_title}}</h3></a>
													</div>
												{% elseif bloc.type == 'texte' %}
													<div class="wrapper texte active">
														{{bloc.content|raw}}
													</div>
												{% endif %}
											</div>

										</article>
									{% endfor %}

									<article>
										<div class="wrapper linkTitle active">
											<a href="#" onclick="MicroModal.show('modal-block-new'); return false;"><h3><i class="fa fa-plus"></i> Nouveau bloc</h3></a>
										</div>
									</article>
									{% if sectionActive.blocs|length < 1 %}
										<article>
											<div class="wrapper">
											</div>
										</article>
										<article>
											<div class="wrapper">
											</div>
										</article>
									{% endif %}
								{% endif %}
							</section>
						{% endblock %}

						{% block subScripts %}
							<script
							src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
							integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
							crossorigin="anonymous"></script>
							<script src="//cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/froala_editor.min.js" type="text/javascript"></script>
							<script src="//cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/link.min.js" type="text/javascript"></script>
							<script src="//cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/font_size.min.js" type="text/javascript"></script>
							<script src="//cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/plugins/align.min.js" type="text/javascript"></script>
							<script src="//cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/languages/fr.js" type="text/javascript"></script>
							<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
							<script>
							function changeBlocTypeEventHandler(event) {
								var select = event.target;
								var blockId = select.dataset.blockId;
								console.log(blockId);
								console.log(select.value);
								document.querySelectorAll('form#block-' + blockId +' .data-bloc').forEach(function(element) {
									element.classList.remove('selected');
								});
								var selected = document.querySelector('form#block-' + blockId +' .data-bloc[data-bloc-type="' + select.value + '"]');
								if (selected) {
									selected.classList.add('selected');
								}
							}

							cloudinary.setCloudName('stadja');
							document.querySelectorAll('.upload_widget_opener').forEach(function(element) {
								var formId = '#block-'+element.dataset.formId;
								var path = "https://res.cloudinary.com/stadja/f_auto/";
								$(element).cloudinary_upload_widget(
								{
									cloud_name: 'stadja',
									upload_preset: 'baudin',
									multiple: false,
									max_files: 1,
									sources: ['local', 'url'],
									button_caption: 'Importer une image',
									cropping: 'server',
									cropping_aspect_ratio: '1',
									cropping_show_back_button: true,
									resource_type: 'image',
				// form: formId,
				// field_name: 'image',
				theme: 'minimal',
				show_powered_by: false,
				imageMaxWidth: 650,
				imageMaxHeight: 650,
				cropping_validate_dimensions: true
			},
			function(error, result) {
				if (error) {
					return false;
				}
				if (result && result[0]) {
					var val = path + result[0].path;
					$(formId + ' [name="image"]').val(val);
				}
			}
			);
							});

							$('.froala').froalaEditor({
								language: 'fr',
								key: 'pB1F1E1F2qB2C1D7A5E1F5E4A1D3A11djnzxwC-7E2ndv==',
								toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'quote', '-', 'insertLink', 'insertImage', 'insertVideo', 'embedly', 'insertFile', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'print', 'spellChecker', 'help', 'html', '|', 'undo', 'redo'],
								fontSize: ['0.5','0.6','0.7','0.8','0.9','1','1.1','1.2','1.3','1.4','1.5'],
								fontSizeUnit: 'em'
							});

							</script>
						{% endblock %}
