{% extends "layout.html.twig" %}

{% block styles %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/froala_editor.min.css">

{% endblock %}

{% block body %}
	<div class="modal micromodal-slide" id="modal-section-new" aria-hidden="true">
		<div class="modal__overlay" tabindex="-1" data-micromodal-close>
			<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
				<div class="modal__header">
					<h2 class="modal__title">
						Nouvelle section
					</h2>
					<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
				</div>
				<form action="{{ path_for('api_post') }}" method="POST">
					<input type="hidden" name="objectClass" value="section">
					<input type="hidden" name="id" value="new">
					<input type="hidden" name="page_id" value="{{pageActive.id}}">
					<input type="hidden" name="redirect" value="{{ path_for('admin_page', {'page': pageActive.slug}) }}">
					<main class="modal__content">
						<label>Identifiant de la section (optionnel)<br/>
							<input type="text" name="slug" value="" placeholder="Identifiant de la section">
						</label>
					</main>
					<footer class="modal__footer">
						<button type="submit" class="modal__btn modal__btn-primary">Enregistrer</button>
						<button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Annuler</button>
					</footer>
				</form>
			</div>
		</div>
	</div>
	<div class="modal micromodal-slide" id="modal-new" aria-hidden="true">
		<div class="modal__overlay" tabindex="-1" data-micromodal-close>
			<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
				<div class="modal__header">
					<h2 class="modal__title">
						Nouvelle page
					</h2>
					<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
				</div>
				<form action="{{ path_for('api_post') }}" method="POST">
					<input type="hidden" name="objectClass" value="page">
					<input type="hidden" name="id" value="new">
					<input type="hidden" name="redirect" value="{{current_path()}}">
					<main class="modal__content">
						<label>Titre de la page<br/>
							<input required type="text" name="name" value="" placeholder="Titre de la page"></label>
							<br/><br/>
							<label>Identifiant de la page<br/>
								<input required type="text" name="slug" value="" placeholder="Identifiant de la page"></label>
							</main>
							<footer class="modal__footer">
								<button type="submit" class="modal__btn modal__btn-primary">Enregistrer</button>
								<button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Annuler</button>
							</footer>
						</form>
					</div>
				</div>
			</div>

			{% for section in pageActive.sections %}
				<div class="modal micromodal-slide" id="modal-section-{{section.id}}" aria-hidden="true">
					<div class="modal__overlay" tabindex="-1" data-micromodal-close>
						<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
							<div class="modal__header">
								<h2 class="modal__title">
									Modifier section
								</h2>
								<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
							</div>
							<form action="{{ path_for('api_post') }}" method="POST">
								<input type="hidden" name="objectClass" value="section">
								<input type="hidden" name="id" value="{{section.id}}">
								<input type="hidden" name="page_id" value="{{pageActive.id}}">
								<input type="hidden" name="redirect" value="{{ path_for('admin_page', {'page': pageActive.slug}) }}">
								<main class="modal__content">
							{# <label>Titre de la section</label><br/>
							<input type="text" name="name" value="{{section.name}}" placeholder="Titre de la section">
							<br/><br/> #}
							<label>Identitfiant de la section (optionnel)<br/>
								<input type="text" name="slug" value="{{section.slug}}" placeholder="Identifiant de la section"></label>
							</main>
							<footer class="modal__footer">
								<button type="submit" class="modal__btn modal__btn-primary">Enregistrer</button>
								<button onclick="return confirm('êtes vous de supprimer cette section ? Vous supprimerez aussi les blocs qui lui sont liés');" type="submit" name="action" value="delete" style="float:right;" class="modal__btn modal__btn-danger">Supprimer</button>
							</footer>
						</form>
					</div>
				</div>
			</div>
		{% endfor %}
		{% for page in pages %}
			<div class="modal micromodal-slide" id="modal-{{ page.id }}" aria-hidden="true">
				<div class="modal__overlay" tabindex="-1" data-micromodal-close>
					<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
						<div class="modal__header">
							<h2 class="modal__title">
								Modification page
							</h2>
							<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
						</div>
						<form action="{{ path_for('api_post') }}" method="POST">
							<input type="hidden" name="objectClass" value="page">
							<input type="hidden" name="id" value="{{ page.id }}">
							<input type="hidden" name="redirect" value="{{current_path()}}">
							<main class="modal__content">
								<label>Titre de la page<br/>
									<input required type="text" name="name" value="{{ page.name }}" placeholder="Titre de la page"></label>
									<br/><br/>
									<label>Identifiant de la page<br/>
										<input required type="text" name="slug" value="{{ page.slug }}" placeholder="Identifiant de la page"></label>
									</main>
									<footer class="modal__footer">
										<button type="submit" class="modal__btn modal__btn-primary">Enregistrer</button>
										<button onclick="return confirm('Êtes vous sûr de vouloir supprimer cette page ? Vous supprimerez aussi les sections et blocs qui lui sont liés !');" type="submit" name="action" value="delete" style="float:right;" class="modal__btn modal__btn-danger">Supprimer</button>
									</footer>
								</form>
							</div>
						</div>
					</div>
				{% endfor %}

				<header>
					<div class="menu-opener" onClick="toggleMenu();">
						<p>M<br/>e<br/>n<br/>u</p>
					</div>
					<div class="wrapper">
						<p>
							<a class="logo" href="{{ path_for('home') }}">
								philippe baudin . architecte
							</a><br/><strong>ADMINISTRATION</strong>
						</p>
						<nav>
							<ul class="sortable" data-object-class="page">
								{% for page in pages %}
									<li data-id="{{page.id}}" class="{% if pageActive.slug == page.slug %}active{% endif %}"><p><i class="fa fa-arrows"></i> <a href="{{ path_for('admin_page', {'page': page.slug}) }}">{{page.name}}</a> <i class="fa fa-edit" onclick="MicroModal.show('modal-{{ page.id }}'); return false;"></i></p></li>
								{% endfor %}
								<br/>
							</ul>
							<p><a href="#" onclick="MicroModal.show('modal-new'); return false;"><i class="fa fa-plus"></i> Créer une nouvelle page</a></p>
						</nav>
						<div class="push"></div>
					</div>
				</header>
				{% block section %}
				{% endblock %}
			{% endblock %}

			{% block scripts %}
				<script>
				if (document && document.location && document.location.hash) {
					var selected = document.querySelector('article[id="'+document.location.hash.substr(1)+'"]');
					if (selected) {
						selected.classList.add('selected');
					}
				}
				var toggleMenu = function() {
					var header = document.querySelector('body > .wrapper > header');
					if (header.classList.contains('open')) {
						header.classList.remove('open');
					} else {
						header.classList.add('open');
					}
				};

				document.querySelectorAll('section.main > article .wrapper').forEach(function(element) {
					element.onclick = function(event) {

						document.querySelectorAll('section.main > article').forEach(function(element) {
							element.classList.remove('selected');
						});
						this.parentElement.parentElement.classList.add('selected');

						if ((event.target.tagName == 'A') || (event.target.tagName == 'a')) {
							return true;
						}
						if ((event.target.tagName == 'P') || (event.target.tagName == 'p')) {
							return true;
						}
						if ((event.target.tagName == 'h1') || (event.target.tagName == 'H1')) {
							return true;
						}
						if ((event.target.tagName == 'h2') || (event.target.tagName == 'H2')) {
							return true;
						}
						if ((event.target.tagName == 'h3') || (event.target.tagName == 'H3')) {
							return true;
						}
						var brother = this.nextElementSibling;
						if (!brother) {
							brother = this.parentElement.firstElementChild;
						}
						if (this == brother) {
							return true;
						}
						this.classList.remove('active');
						brother.classList.add('active');
					}
				});
				</script>
				<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
				<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
				<script>
				document.querySelectorAll('.sortable').forEach(function(element) {
					Sortable.create(element, {
						onUpdate: function (evt){
					var item = evt.item; // the current dragged HTMLElement
					var list = item.parentElement;
					var objectClass = list.dataset.objectClass;
					var orders = [];
					for(var i = 0; i < list.children.length; i++) {
						if (list.children[i].dataset && list.children[i].dataset.id) {
							orders.push(list.children[i].dataset.id);
						}
					}

					if (!orders.length) {
						return false;
					}

					const url = '{{ path_for('home') }}api/sort';
					// The data we are going to send in our request
					let data = {
						objectClass: objectClass,
						orders: orders
					};
					var headers = {'Content-Type': 'application/json'};
					// The parameters we are gonna pass to the fetch function
					let fetchData = {
						method: 'POST',
						body: JSON.stringify(data),
						headers: headers
					}
					fetch(url, fetchData)
					.then(function() {
					    // Handle response you get from the server
					});
				}
			});
				});
				</script>

				{% block subScripts %}
				{% endblock %}

			{% endblock %}
