{% extends "layout.html.twig" %}

{% block body %}
	<div class="login">
		<form action="admin" method="post" accept-charset="utf-8">
			<input type="password" name="password" required placeholder="Le mot de passe">
			<input type="submit" value="Se connecter">
		</form>
		<br/>
		<br/>
		<form action="admin/new_password" method="post" accept-charset="utf-8">
			<input type="submit" value="Générer un nouveau mot de passe">
		</form>
	</div>
{% endblock %}
